.btn {
  display: block;
  padding: 8px 10px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  background-color: $button-color;
  color: $text-color;
  text-transform: uppercase;
  font-size: 100%;
  &:hover {
    background-color: $text-color;
    color: white;
  }
}

.btn-dark {
  background-color: $text-color;
  color: white;
}
